@import 'tailwindcss';
@import '@nuxt/ui';

.dark [data-vsbs-container] {
  color: #fff;

  --vsbs-backdrop-bg: rgba(0, 0, 0, 0.75);
  --vsbs-shadow-color: rgba(0, 0, 0, 0.5);
  --vsbs-background: #181818;
  --vsbs-border-radius: 16px;
  --vsbs-max-width: 640px;
  --vsbs-border-color: rgba(255, 255, 255, 0.125);
  --vsbs-padding-x: 16px;
  --vsbs-handle-background: rgba(255, 255, 255, 0.28);
}
