@import 'tailwindcss';
@import '@nuxt/ui';

body {
  @apply bg-gray-100 dark:bg-zinc-950;
}

.vue-code-block pre[class*='language-'] {
  @apply bg-zinc-50;
}

.vue-code-block {
  --neon-bunny-white: #292929;
  --neon-bunny-name: #437f48;
  --neon-bunny-tag: #7e7e7e;
  --neon-bunny-string: #906c34;
  --neon-bunny-html-tag-attr: #3678a0;
  --neon-bunny-literal: #3678a0;
  --neon-bunny-title-function: #3678a0;
  --neon-bunny-keyword: #b35650;

  --neon-bunny-js: #292929;
  --neon-bunny-js-title-class: #292929;
  --neon-bunny-params: #a2641c;
  --neon-bunny-property: #a2641c;
  --v-cb-tab-neon-bunny-icon: 239, 84%, 67%;
  --v-cb-tab-neon-bunny-carrot-icon: 239, 84%, 67%;
}

&:where(.dark, .dark *) {
  body {
    --vsbs-handle-background: var(--color-zinc-500);
    --vsbs-background: var(--color-zinc-900);
    --vsbs-border-color: var(--color-zinc-800);
  }

  .vue-code-block pre[class*='language-'] {
    @apply bg-zinc-950;
  }

  .vue-code-block {
    --neon-bunny-white: #e0e0e0;
    --neon-bunny-name: #8bc34a;
    --neon-bunny-tag: #e0e0e0;
    --neon-bunny-string: #e0a751;
    --neon-bunny-html-tag-attr: #4fc3f7;
    --neon-bunny-literal: #4fc3f7;

    --neon-bunny-title-function: #4fc3f7;
    --neon-bunny-keyword: #ff5252;

    --neon-bunny-js: #e0e0e0;
    --neon-bunny-js-title-class: #e0e0e0;
    --neon-bunny-params: #ffb74d;
    --neon-bunny-property: #ffb74d;
    --v-cb-tab-neon-bunny-carrot-icon: 239, 84%, 67%;
  }
}
